#header {
  background-color: #161925;
  color: #406e8e;
  padding: 10px;
  display: flex;
}

#nav {
  position: absolute;
  right: -1px;
  margin-top: 2px;
}

#hamburger {
  position: absolute;
  right: -1px;
  margin-top: -5px;

  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  #nav {
    visibility: hidden;
  }

  #hamburger {
    visibility: visible;
  }
}