#avatar {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}

#description {
  color: #406E8E;
  text-align: center;
}

#desc-text {
  color: white;
  text-align: center;
  padding: 10px;
  margin-left: 20%;
  margin-right: 20%;
}


